<p class="h5">How often do you eat or drink foods that stain your teeth?</p>
<div class="quiz__input-group">
  <fieldset>
    <label for="once_per_week">
      <input type="radio" id="once_per_week" name="stain" value="Once Per Week">
      <div class="custom-radio-button"></div>
      Once Per Week
    </label>

    <label for="once_per_day">
      <input type="radio" id="once_per_day" name="stain" value="Once Per Day">
      <div class="custom-radio-button"></div>
      Once Per Day
    </label>

    <label for="multiple_per_day">
      <input type="radio" id="multiple_per_day" name="stain" value="Multiple times per day">
      <div class="custom-radio-button"></div>
      Multiple Times Per Day
    </label>
  </fieldset>
</div>

<p class="h5">Have you used whitening products in the past?</p>
<div class="quiz__input-group">
  <fieldset class="fieldset-row">
    <label for="yes_previous_use">
      <input type="radio" id="yes_previous_use" name="previous_use" value="yes">
      <div class="custom-radio-button"></div>
      Yes
    </label>

    <label for="no_previous_use">
      <input type="radio" id="no_previous_use" name="previous_use" value="no">
      <div class="custom-radio-button"></div>
      No
    </label>
  </fieldset>
</div>
