<label class="h5" for="ourformbutforklaviyo">What's your email?</label>
<div class="quiz__input-group">
  <input
    class="for_email_klaviyo"
    type="email"
    name="contact[email]"
    style="color: #3a5ca5"
    id="ourformbutforklaviyo"
    required
  >
  <input class="for_email_klaviyo" type="hidden" name="contact[tags]" value="newsletter">
</div>
