<p class="h5">Have you had any dental operations or cavities in the last year?</p>
<div class="quiz__input-group">
  <fieldset>
    <label for="yes_cavity">
      <input type="radio" id="yes_cavity" name="cavities" value="yes">
      <div class="custom-radio-button"></div>
      Yes
    </label>

    <label for="no_cavity">
      <input type="radio" id="no_cavity" name="cavities" value="no">
      <div class="custom-radio-button"></div>
      No
    </label>
  </fieldset>
</div>

<p class="h5">Which shade most closely resembles the shade of your teeth?</p>
<div class="quiz__input-group">
  <fieldset class="fieldset-row fieldset-condensed">
    <label for="shade_first" class="color_container">
      <input id="shade_first" type="radio" name="shade" value="1" class="for_colors">
      <svg width="41" height="52" viewBox="0 0 41 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M39.8675 5.69323C38.3814 2.3931 35.0933 -0.368749 31.2584 0.0406892C29.6108 0.216345 28.3112 1.01378 26.8899 1.77788C25.7581 2.38644 24.5837 2.94367 23.3379 3.28339C22.5874 3.48742 21.7886 3.60374 20.9863 3.63707C20.1977 3.6697 19.4061 3.62265 18.652 3.49972C17.1013 3.24769 15.6484 2.59399 14.2733 1.86487C14.219 1.83579 14.1644 1.80671 14.1101 1.77763C12.6881 1.0128 11.3892 0.216079 9.74164 0.0404417C5.90667 -0.369269 2.61886 2.39206 1.13245 5.69298C0.197484 7.77013 -0.0962474 10.0797 0.026426 12.3366C0.148438 14.5866 0.635048 16.8113 1.49489 18.8991C2.34442 20.964 3.59755 22.8399 4.42577 24.914C5.37818 27.299 5.40617 29.985 5.50398 32.5539C5.64513 36.2694 6.59396 39.9322 8.12845 43.3197C9.53065 46.4151 11.3768 49.6782 14.3754 51.5115C17.832 53.6241 18.1891 48.3274 18.2463 46.2365C18.3719 41.6226 17.8046 37.0528 18.546 32.4651C18.7372 31.2842 19.0841 29.4808 19.9563 28.446C20.2379 28.112 20.7626 28.112 21.0442 28.446C21.9164 29.4811 22.2633 31.2843 22.4544 32.4651C23.1961 37.0537 22.6286 41.6229 22.7542 46.2365C22.8116 48.3274 23.1688 53.624 26.6251 51.5115C29.6244 49.6776 31.4706 46.4153 32.872 43.3197C34.4065 39.9323 35.3553 36.2688 35.4965 32.5539C35.5944 29.9842 35.6221 27.2993 36.5747 24.914C37.4029 22.8397 38.6561 20.9637 39.5056 18.8991C40.3647 16.8111 40.8513 14.5863 40.9741 12.3366C41.0954 10.0802 40.8025 7.77032 39.8675 5.69323Z" fill="#FBF8F6"/>
      </svg>
    </label>

    <label for="shade_second" class="color_container">
      <input id="shade_second" type="radio" name="shade" class="for_colors" value="2">
      <svg width="41" height="52" viewBox="0 0 41 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M39.8675 5.69323C38.3814 2.3931 35.0933 -0.368749 31.2584 0.0406892C29.6108 0.216345 28.3112 1.01378 26.8899 1.77788C25.7581 2.38644 24.5837 2.94367 23.3379 3.28339C22.5874 3.48742 21.7886 3.60374 20.9863 3.63707C20.1977 3.6697 19.4061 3.62265 18.652 3.49972C17.1013 3.24769 15.6484 2.59399 14.2733 1.86487C14.219 1.83579 14.1644 1.80671 14.1101 1.77763C12.6881 1.0128 11.3892 0.216079 9.74164 0.0404417C5.90667 -0.369269 2.61886 2.39206 1.13245 5.69298C0.197484 7.77013 -0.0962474 10.0797 0.026426 12.3366C0.148438 14.5866 0.635048 16.8113 1.49489 18.8991C2.34442 20.964 3.59755 22.8399 4.42577 24.914C5.37818 27.299 5.40617 29.985 5.50398 32.5539C5.64513 36.2694 6.59396 39.9322 8.12845 43.3197C9.53065 46.4151 11.3768 49.6782 14.3754 51.5115C17.832 53.6241 18.1891 48.3274 18.2463 46.2365C18.3719 41.6226 17.8046 37.0528 18.546 32.4651C18.7372 31.2842 19.0841 29.4808 19.9563 28.446C20.2379 28.112 20.7626 28.112 21.0442 28.446C21.9164 29.4811 22.2633 31.2843 22.4544 32.4651C23.1961 37.0537 22.6286 41.6229 22.7542 46.2365C22.8116 48.3274 23.1688 53.624 26.6251 51.5115C29.6244 49.6776 31.4706 46.4153 32.872 43.3197C34.4065 39.9323 35.3553 36.2688 35.4965 32.5539C35.5944 29.9842 35.6221 27.2993 36.5747 24.914C37.4029 22.8397 38.6561 20.9637 39.5056 18.8991C40.3647 16.8111 40.8513 14.5863 40.9741 12.3366C41.0954 10.0802 40.8025 7.77032 39.8675 5.69323Z" fill="#F7F2EE"/>
      </svg>
    </label>

    <label for="shade_third" class="color_container">
      <input id="shade_third" type="radio" name="shade" class="for_colors" value="3">
      <svg width="40" height="52" viewBox="0 0 40 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.8952 5.69323C37.4453 2.3931 34.2374 -0.368749 30.496 0.0406892C28.8885 0.216345 27.6207 1.01378 26.234 1.77788C25.1298 2.38644 23.9841 2.94367 22.7687 3.28339C22.0365 3.48742 21.2572 3.60374 20.4744 3.63707C19.7051 3.6697 18.9328 3.62265 18.1971 3.49972C16.6842 3.24769 15.2667 2.59399 13.9251 1.86487C13.8722 1.83579 13.8189 1.80671 13.766 1.77763C12.3786 1.0128 11.1115 0.216079 9.50404 0.0404417C5.7626 -0.369269 2.55499 2.39206 1.10483 5.69298C0.192667 7.77013 -0.0938999 10.0797 0.0257815 12.3366C0.144818 14.5866 0.619559 16.8113 1.45843 18.8991C2.28724 20.964 3.50981 22.8399 4.31782 24.914C5.24701 27.299 5.27432 29.985 5.36974 32.5539C5.50745 36.2694 6.43313 39.9322 7.93019 43.3197C9.29819 46.4151 11.0993 49.6782 14.0248 51.5115C17.397 53.6241 17.7455 48.3274 17.8012 46.2365C17.9238 41.6226 17.3704 37.0528 18.0937 32.4651C18.2802 31.2842 18.6186 29.4808 19.4696 28.446C19.7443 28.112 20.2562 28.112 20.5309 28.446C21.3819 29.4811 21.7203 31.2843 21.9068 32.4651C22.6303 37.0537 22.0767 41.6229 22.1992 46.2365C22.2552 48.3274 22.6037 53.624 25.9757 51.5115C28.9019 49.6776 30.703 46.4153 32.0703 43.3197C33.5673 39.9323 34.493 36.2688 34.6307 32.5539C34.7262 29.9842 34.7533 27.2993 35.6827 24.914C36.4907 22.8397 37.7132 20.9637 38.542 18.8991C39.3802 16.8111 39.8549 14.5863 39.9747 12.3366C40.093 10.0802 39.8073 7.77032 38.8952 5.69323Z" fill="#F3EBE2"/>
      </svg>
    </label>

    <label for="shade_fourth" class="color_container">
      <input id="shade_fourth" type="radio" name="shade" class="for_colors" value="4">
      <svg width="41" height="52" viewBox="0 0 41 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M39.8675 5.69323C38.3814 2.3931 35.0933 -0.368749 31.2584 0.0406892C29.6108 0.216345 28.3112 1.01378 26.8899 1.77788C25.7581 2.38644 24.5837 2.94367 23.3379 3.28339C22.5874 3.48742 21.7886 3.60374 20.9863 3.63707C20.1977 3.6697 19.4061 3.62265 18.652 3.49972C17.1013 3.24769 15.6484 2.59399 14.2733 1.86487C14.219 1.83579 14.1644 1.80671 14.1101 1.77763C12.6881 1.0128 11.3892 0.216079 9.74164 0.0404417C5.90667 -0.369269 2.61886 2.39206 1.13245 5.69298C0.197484 7.77013 -0.0962474 10.0797 0.026426 12.3366C0.148438 14.5866 0.635048 16.8113 1.49489 18.8991C2.34442 20.964 3.59755 22.8399 4.42577 24.914C5.37818 27.299 5.40617 29.985 5.50398 32.5539C5.64513 36.2694 6.59396 39.9322 8.12845 43.3197C9.53065 46.4151 11.3768 49.6782 14.3754 51.5115C17.832 53.6241 18.1891 48.3274 18.2463 46.2365C18.3719 41.6226 17.8046 37.0528 18.546 32.4651C18.7372 31.2842 19.0841 29.4808 19.9563 28.446C20.2379 28.112 20.7626 28.112 21.0442 28.446C21.9164 29.4811 22.2633 31.2843 22.4544 32.4651C23.1961 37.0537 22.6286 41.6229 22.7542 46.2365C22.8116 48.3274 23.1688 53.624 26.6251 51.5115C29.6244 49.6776 31.4706 46.4153 32.872 43.3197C34.4065 39.9323 35.3553 36.2688 35.4965 32.5539C35.5944 29.9842 35.6221 27.2993 36.5747 24.914C37.4029 22.8397 38.6561 20.9637 39.5056 18.8991C40.3647 16.8111 40.8513 14.5863 40.9741 12.3366C41.0954 10.0802 40.8025 7.77032 39.8675 5.69323Z" fill="#F1E8D6"/>
      </svg>
    </label>

    <label for="shade_fifth" class="color_container">
      <input id="shade_fifth" type="radio" name="shade" class="for_colors" value="5">
      <svg width="40" height="52" viewBox="0 0 40 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.8952 5.69323C37.4453 2.3931 34.2374 -0.368749 30.496 0.0406892C28.8885 0.216345 27.6207 1.01378 26.234 1.77788C25.1298 2.38644 23.9841 2.94367 22.7687 3.28339C22.0365 3.48742 21.2572 3.60374 20.4744 3.63707C19.7051 3.6697 18.9328 3.62265 18.1971 3.49972C16.6842 3.24769 15.2667 2.59399 13.9251 1.86487C13.8722 1.83579 13.8189 1.80671 13.766 1.77763C12.3786 1.0128 11.1115 0.216079 9.50404 0.0404417C5.7626 -0.369269 2.55499 2.39206 1.10483 5.69298C0.192667 7.77013 -0.0938999 10.0797 0.0257815 12.3366C0.144818 14.5866 0.619559 16.8113 1.45843 18.8991C2.28724 20.964 3.50981 22.8399 4.31782 24.914C5.24701 27.299 5.27432 29.985 5.36974 32.5539C5.50745 36.2694 6.43313 39.9322 7.93019 43.3197C9.29819 46.4151 11.0993 49.6782 14.0248 51.5115C17.397 53.6241 17.7455 48.3274 17.8012 46.2365C17.9238 41.6226 17.3704 37.0528 18.0937 32.4651C18.2802 31.2842 18.6186 29.4808 19.4696 28.446C19.7443 28.112 20.2562 28.112 20.5309 28.446C21.3819 29.4811 21.7203 31.2843 21.9068 32.4651C22.6303 37.0537 22.0767 41.6229 22.1992 46.2365C22.2552 48.3274 22.6037 53.624 25.9757 51.5115C28.9019 49.6776 30.703 46.4153 32.0703 43.3197C33.5673 39.9323 34.493 36.2688 34.6307 32.5539C34.7262 29.9842 34.7533 27.2993 35.6827 24.914C36.4907 22.8397 37.7132 20.9637 38.542 18.8991C39.3802 16.8111 39.8549 14.5863 39.9747 12.3366C40.093 10.0802 39.8073 7.77032 38.8952 5.69323Z" fill="#ECE0C8"/>
      </svg>
    </label>

    <label for="shade_sixth" class="color_container">
      <input id="shade_sixth" type="radio" name="shade" class="for_colors" value="6">
      <svg width="40" height="52" viewBox="0 0 40 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.8952 5.69323C37.4453 2.3931 34.2374 -0.368749 30.496 0.0406892C28.8885 0.216345 27.6207 1.01378 26.234 1.77788C25.1298 2.38644 23.9841 2.94367 22.7687 3.28339C22.0365 3.48742 21.2572 3.60374 20.4744 3.63707C19.7051 3.6697 18.9328 3.62265 18.1971 3.49972C16.6842 3.24769 15.2667 2.59399 13.9251 1.86487C13.8722 1.83579 13.8189 1.80671 13.766 1.77763C12.3786 1.0128 11.1115 0.216079 9.50404 0.0404417C5.7626 -0.369269 2.55499 2.39206 1.10483 5.69298C0.192667 7.77013 -0.0938999 10.0797 0.0257815 12.3366C0.144818 14.5866 0.619559 16.8113 1.45843 18.8991C2.28724 20.964 3.50981 22.8399 4.31782 24.914C5.24701 27.299 5.27432 29.985 5.36974 32.5539C5.50745 36.2694 6.43313 39.9322 7.93019 43.3197C9.29819 46.4151 11.0993 49.6782 14.0248 51.5115C17.397 53.6241 17.7455 48.3274 17.8012 46.2365C17.9238 41.6226 17.3704 37.0528 18.0937 32.4651C18.2802 31.2842 18.6186 29.4808 19.4696 28.446C19.7443 28.112 20.2562 28.112 20.5309 28.446C21.3819 29.4811 21.7203 31.2843 21.9068 32.4651C22.6303 37.0537 22.0767 41.6229 22.1992 46.2365C22.2552 48.3274 22.6037 53.624 25.9757 51.5115C28.9019 49.6776 30.703 46.4153 32.0703 43.3197C33.5673 39.9323 34.493 36.2688 34.6307 32.5539C34.7262 29.9842 34.7533 27.2993 35.6827 24.914C36.4907 22.8397 37.7132 20.9637 38.542 18.8991C39.3802 16.8111 39.8549 14.5863 39.9747 12.3366C40.093 10.0802 39.8073 7.77032 38.8952 5.69323Z" fill="#E4D6AF"/>
      </svg>
    </label>

    <label for="shade_seventh" class="color_container">
      <input id="shade_seventh" type="radio" name="shade" class="for_colors" value="7">
      <svg width="40" height="52" viewBox="0 0 40 52" fill="none">
        <path d="M38.8952 5.69323C37.4453 2.3931 34.2374 -0.368749 30.496 0.0406892C28.8885 0.216345 27.6207 1.01378 26.234 1.77788C25.1298 2.38644 23.9841 2.94367 22.7687 3.28339C22.0365 3.48742 21.2572 3.60374 20.4744 3.63707C19.7051 3.6697 18.9328 3.62265 18.1971 3.49972C16.6842 3.24769 15.2667 2.59399 13.9251 1.86487C13.8722 1.83579 13.8189 1.80671 13.766 1.77763C12.3786 1.0128 11.1115 0.216079 9.50404 0.0404417C5.7626 -0.369269 2.55499 2.39206 1.10483 5.69298C0.192667 7.77013 -0.0938999 10.0797 0.0257815 12.3366C0.144818 14.5866 0.619559 16.8113 1.45843 18.8991C2.28724 20.964 3.50981 22.8399 4.31782 24.914C5.24701 27.299 5.27432 29.985 5.36974 32.5539C5.50745 36.2694 6.43313 39.9322 7.93019 43.3197C9.29819 46.4151 11.0993 49.6782 14.0248 51.5115C17.397 53.6241 17.7455 48.3274 17.8012 46.2365C17.9238 41.6226 17.3704 37.0528 18.0937 32.4651C18.2802 31.2842 18.6186 29.4808 19.4696 28.446C19.7443 28.112 20.2562 28.112 20.5309 28.446C21.3819 29.4811 21.7203 31.2843 21.9068 32.4651C22.6303 37.0537 22.0767 41.6229 22.1992 46.2365C22.2552 48.3274 22.6037 53.624 25.9757 51.5115C28.9019 49.6776 30.703 46.4153 32.0703 43.3197C33.5673 39.9323 34.493 36.2688 34.6307 32.5539C34.7262 29.9842 34.7533 27.2993 35.6827 24.914C36.4907 22.8397 37.7132 20.9637 38.542 18.8991C39.3802 16.8111 39.8549 14.5863 39.9747 12.3366C40.093 10.0802 39.8073 7.77032 38.8952 5.69323Z" fill="#D7C8A2"/>
      </svg>
    </label>
  </fieldset>
</div>
