<label class="h5" for="first_name">What's your name?</label>
<label class="visually-hidden" for="last_name">What's your last name?</label>
<div class="quiz__input-group quiz__input-group-columns">
  <input
    type="text"
    id="first_name"
    name="first_name"
    placeholder="First Name"
    required
  >
  <input type="text" id="last_name" name="last_name" placeholder="Last name" required>
</div>

<p class="h5">What are your goals?</p>
<p class="body-sm">Select all that apply.</p>
<div class="quiz__input-group">
  <fieldset class="fieldset-columns">
    <label for="whitening">
      <input class="for_email_klaviyo" type="checkbox" id="whitening" name="goals" value="whitening">
      <div class="custom-radio-button"></div>
      Teeth Whitening
    </label>

    <label for="oral_hygiene">
      <input class="for_email_klaviyo" type="checkbox" id="oral_hygiene" name="goals" value="oral_hygiene">
      <div class="custom-radio-button"></div>
      Oral Hygiene
    </label>

    <label for="enamel_health">
      <input class="for_email_klaviyo" type="checkbox" id="enamel_health" name="goals" value="enamel_health">
      <div class="custom-radio-button"></div>
      Enamel Health
    </label>

    <label for="sensitivity_reduction">
      <input
        class="for_email_klaviyo"
        type="checkbox"
        id="sensitivity_reduction"
        name="goals"
        value="sensitivity_reduction"
      >
      <div class="custom-radio-button"></div>
      Sensitivity Reduction
    </label>

    <label for="better_breath">
      <input class="for_email_klaviyo" type="checkbox" id="better_breath" name="goals" value="better_breath">
      <div class="custom-radio-button"></div>
      Better Breath
    </label>

    <label for="cavity_prevention">
      <input class="for_email_klaviyo" type="checkbox" id="cavity_prevention" name="goals" value="cavity_prevention">
      <div class="custom-radio-button"></div>
      Cavity Prevention
    </label>
  </fieldset>
</div>
