<p class="h5">How often do you eat or drink foods that stain your teeth?</p>
<div class="quiz__input-group">
  <label for="once_per_week">
    <input type="radio" id="once_per_week" name="stain" value="Once Per Week">
    Once Per Week
  </label>

  <label for="once_per_day">
    <input type="radio" id="once_per_day" name="stain" value="Once Per Day">
    Once Per Day
  </label>

  <label for="multiple_per_day">
    <input type="radio" id="multiple_per_day" name="stain" value="Multiple times per day">
    Multiple Times Per Day
  </label>
</div>

<p class="h5">Have you used whitening products in the past?</p>
<div class="quiz__input-group">
  <fieldset>
    <label for="yes_previous_use">
      <input type="radio" id="yes_previous_use" name="previous_use" value="yes">
      Yes
    </label>

    <label for="no_previous_use">
      <input type="radio" id="no_previous_use" name="previous_use" value="no">
      No
    </label>
  </fieldset>
</div>
