<p class="h5">How often do you brush your teeth daily?</p>
<div class="quiz__input-group">
  <fieldset>
    <label for="once">
      <input type="radio" id="once" name="brushtimes" value="once">
      <div class="custom-radio-button"></div>
      Once
    </label>
    <label for="twice">
      <input type="radio" id="twice" name="brushtimes" value="twice">
      <div class="custom-radio-button"></div>
      Twice
    </label>
    <label for="three">
      <input type="radio" id="three" name="brushtimes" value="three">
      <div class="custom-radio-button"></div>
      Three or More Times
    </label>
  </fieldset>
</div>

<p class="h5">How sensitive are your teeth?</p>
<div class="quiz__input-group">
  <fieldset class="fieldset-row">
    <label for="mild">
      <input class="for_email_klaviyo" type="radio" id="mild" name="sensitivity" value="mild">
      <div class="custom-radio-button"></div>
      Mild
    </label>

    <label for="medium">
      <input class="for_email_klaviyo" type="radio" id="medium" name="sensitivity" value="medium">
      <div class="custom-radio-button"></div>
      Medium
    </label>

    <label for="very">
      <input class="for_email_klaviyo" type="radio" id="very" name="sensitivity" value="very">
      <div class="custom-radio-button"></div>
      Very
    </label>
  </fieldset>
</div>
