<p class="h5">How often do you brush your teeth daily?</p>
<div class="quiz__input-group">
  <fieldset>
    <input type="radio" id="once" name="brushtimes" value="once"> <label for="once">Once</label>
    <input type="radio" id="twice" name="brushtimes" value="twice"> <label for="twice">Twice</label>
    <input type="radio" id="three" name="brushtimes" value="three"> <label for="three">Three or More Times</label>
  </fieldset>
</div>

<p class="h5">How sensitive are your teeth?</p>
<div class="quiz__input-group">
  <fieldset>
    <div class="custom-radio-button"></div>
    <label for="mild">
      <input class="for_email_klaviyo" type="radio" id="mild" name="sensitivity" value="mild">
      Mild
    </label>

    <label for="medium">
      <div class="custom-radio-button"></div>
      <input class="for_email_klaviyo" type="radio" id="medium" name="sensitivity" value="medium">
      Mild
    </label>

    <label for="very">
      <div class="custom-radio-button"></div>
      <input class="for_email_klaviyo" type="radio" id="very" name="sensitivity" value="very">
      Very
    </label>
  </fieldset>

  <input class="for_email_klaviyo" type="hidden" name="contact[tags]" value="newsletter">
</div>
