<label class="h5" for="ourformbutforklaviyo">Enter your email to unlock your results</label>
<div class="quiz__input-group">
  <input
    class="for_email_klaviyo"
    type="email"
    name="contact[email]"
    style="color: #3a5ca5"
    id="ourformbutforklaviyo"
    placeholder="Email"
    required
  >
  <input class="for_email_klaviyo" type="hidden" name="contact[tags]" value="newsletter">
  <p class="form-error-message body-xs hidden">This field is required</p>
</div>
