<div class="FAQ_Section">
  <div class="page-width">
    <div class="Faq_section_inner">
    <div class="Section_Header">
      {% if section.settings.section_heading != blank %}
        <h2 class="h4">{{ section.settings.section_heading }}</h2>
      {% endif %}
      {% if section.settings.section_sub_heading != blank %}
        <p class="sh1">{{ section.settings.section_sub_heading }}</p>
      {% endif %}
    </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "FAQ Section",
    "settings": [
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}