<div class="FAQ_Section">
  <div class="page-width">
  </div>
</div>

{% schema %}
  {
    "name": "FAQ Section",
    "settings": [
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}