<div class="Instagram_Section">
  <div class="page-width">
    <div class="Section_Header">
      <h2 class="h4">{{ section.settings.section_heading }}</h2>
      <p class="body-1">{{ section.settings.section_sub_heading }}</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Instagram Section",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Heading"        
      },
      {
        "type": "textarea",
        "id": "section_sub_heading",
        "label": "Sub Heading"        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}