<div class="404-template">
  <div class="page-width">
    <div class="404-inr-template">
      <div class="page-margin center">
        <p>
          {{ 'templates.404.subtext' | t }}
        </p>
        <h1 class="title">
          {{ 'templates.404.title' | t }}
        </h1>
        <a href="{{ routes.all_products_collection_url }}" class="button">
          {{ 'general.continue_shopping' | t }}
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  
  .404-template {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  
  .404-template * {
    width: 100%;
  }
  
</style>