<div class="error-template">
  <div class="page-width">
    <div class="error-inr-template">
      <div class="page-margin center">
        <h1 class="title">
          {{ 'templates.404.title' | t }}
        </h1>
        <a href="{{ routes.all_products_collection_url }}" class="button">
          {{ 'general.continue_shopping' | t }}
        </a>
      </div>
    </div>
  </div>
</div>

<style>

  .error-template {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, #DAF2FC 0%, #FAF5F1 100%);
  }
  
  .error-template .error-inr-template .title {
    font-family: canela;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0;
  }
  
</style>