<div class="error-template">
  <div class="page-width">
    <div class="error-inr-template">
      <div class="page-margin center">
        <h1 class="title">
          {{ 'templates.404.title' | t }}
        </h1>
        <h6 class="h5 m-h5">
          {{ 'templates.404.subtext' | t }}
        </h6>
        <a href="{{ routes.all_products_collection_url }}" class="button">
          {{ 'general.continue_shopping' | t }}
        </a>
      </div>
    </div>
  </div>
</div>