{% assign formatted_heading = section.settings.section_heading
  | escape
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

{% schema %}
  {
    "name": "Reviews Section",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Heading"        
      },
      {
        "type": "text",
        "id": "section_sub_heading",
        "label": "Sub Heading"        
      }
    ],
    "blocks": [
      {
        "type": "review",
        "name": "Review",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"            
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Review"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}