{{ 'section-sticky-product-bar.css' | asset_url | stylesheet_tag }}
<section class="product-sticky-bar">
  <button class="product-sticky-bar__button" data-sticky-open aria-hidden="true">Buy Now</button>
  <button class="product-sticky-bar__close" data-sticky-close style="display: none;">
    <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="-0.5" x2="12.8877" y2="-0.5" transform="matrix(-0.709202 0.705005 -0.709202 -0.705005 13.4429 4.33006)" stroke="#FAF5F1"/>
      <path d="M13.6836 13.6551L4.5436 4.5692" stroke="#FAF5F1"/>
    </svg>
  </button>
  <div class="product-sticky-bar__inner">
    <sticky-product-bar data-id="{{ product.id }}">
      <div class="sticky__formula body-lg" data-sticky-formula></div>

      <div class="sticky__buy-options">
        <button data-sticky-onetime>
          <span class="custom-radio-button"></span>
          Buy One Time
        </button>

        <button data-sticky-subsave>
          <span class="custom-radio-button"></span>
          Subscribe & Save
        </button>
      </div>

      <div class="sticky__buy-button">
        <button class="button" data-sticky-atc disabled>
          <span>Buy now &#8212;</span> <span class="sticky__price"></span>
          <span class="loading-overlay__spinner">
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="spinner"
              viewBox="0 0 66 66"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </span>
        </button>
      </div>
    </sticky-product-bar>
  </div>
</section>
