{{ 'section-sticky-footer.css' | asset_url | stylesheet_tag }}

<div class="sticky-footer">
  <button class="sticky-footer__button">
    <span class="p sticky-footer__heading body-sm body-bold-weight">
      {{- section.settings.heaidng | default: 'Find your personalized Formula' -}}
    </span>
    <span class="sticky-footer__svg">
      <svg width="14" height="18" viewBox="0 0 14 18" fill="none">
        <path d="M0.5 9.55592L1.07704 10.2805C1.07704 10.2805 4.87642 7.22564 6.39964 5.31769L6.39964 18L7.59903 18L7.59903 5.31769C9.12224 7.22564 12.9216 10.2805 12.9216 10.2805L13.4987 9.55592C13.4987 9.55592 8.82506 5.02624 6.99933 -2.84095e-07C5.1736 5.02624 0.5 9.55592 0.5 9.55592Z" fill="currentColor"/>
      </svg>
    </span>
  </button>
</div>

{% javascript %}
  document.querySelector('.sticky-footer__button').addEventListener('click', (e) => {
    e.preventDefault();
    document.querySelector('.page-transition').classList.add('visible');
  });
{% endjavascript %}

{% schema %}
{
  "name": "Sticky Footer",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ]
}
{% endschema %}
