{{ 'section-text.css' | asset_url | stylesheet_tag }}

{% assign formatted_heading = section.settings.heading
  | replace: '{', "<span class='stylized'>"
  | replace: '}', '</span>'
%}

<section class="text-section">
  <div class="page-width">
    {% if section.settings.heading != blank %}
      <h2 class="section__heading m-h4 ">{{ formatted_heading }}</h2>
    {% endif %}

    {% if section.settings.text != blank %}
      <p class="section__text">{{ section.settings.text }}</p>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Text",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "info": "Wrap italized text in {}"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background color"
    }
  ],
  "presets": [
    {
      "name": "Text"
    }
  ]
}
{% endschema %}
