.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  display: block;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  height: 1.8rem;
  margin-bottom: 2rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: 0 !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 769px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

.cart-items {
  width: 100%;
}

.cart-container {
  margin-top: 150px;
}

.cart-container .title--primary {
  text-align: center;
  margin-bottom: 15px;
}

.cart-container .title-wrapper-with-link {
  margin-bottom: 60px;
}

.cart-container .quantity {
  margin: 0 auto 20px;
}

.cart-container .underlined-link {
  display: flex;
  justify-content: center;
}

.cart-items thead th:first-of-type {
  text-align: left;
}

.cart-items thead th:last-of-type {
  text-align: right;
}

cart-remove-button {
  display: flex;
  justify-content: center;
}

.cart-item__details dl {
  margin-top: 0;
}

.item-price {
  margin-top: 15px;
}

.cart-item__price-wrapper * {
  font-size: 20px !important;
}

@media screen and (max-width: 768px) {
  .cart-item__name {
    font-size: 14px;
  }

  .item-price {
    font-size: 12px;
    margin-top: 5px;
  }

  .product-option p {
    font-size: 12px;
  }

  .cart-item__image {
    width: 100px;
    height: auto;
  }

  .cart-item__price-wrapper {
    text-align: center;
    margin-bottom: 10px;
  }

  .cart-item__price-wrapper > * {
    font-size: 14px !important;
    justify-content: center !important;
  }

  .quantity__button {
    width: 30px;
  }

  .quantity {
    width: 90px;
    height: 30px;
  }

  cart-remove-button a {
    padding: 8px 13px !important;
  }    

  .cart-item__quantity,
  .cart-item__details {
    vertical-align: top;
  }

  .cart-item__details .product-option {
    font-size: 12px;
  }

  .cart-item__details dl {
    margin-bottom: 0;
  }

  .cart-item {
    margin-bottom: 10px;
  }

  .cart-container {
    margin-top: 100px;
  }

  .cart-container .quantity {
    margin: 0 auto 10px;
  }
}