/* Main */
.customer-gate__wrapper {
  padding: 150px 0 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 110px;
}

.customer-gate__container {
  max-width: 440px;
  width: 100%;
}

.register .customer-gate__container {
  padding: 100px 0;
  margin: 0 auto;
}

.customer-gate__title {
  margin: 0;
  text-align: center;
}

.customer-gate__text {
  margin: 20px 0 0;
  text-align: center;
}

.customer-gate form {
  margin-top: 30px;
}

.customer__alt-link {
  margin-top: 14px;
  display: block;
  text-align: center;
  font-size: 12px;
  text-decoration: underline;
}

.customer-gate__recover-link {
  margin-top: -20px;
  display: block;
  text-align: right;
  font-size: 12px;
  text-decoration: underline;
  position: relative;
}

.customer-gate__button {
  margin-top: 30px;
}

.register .customer-gate__button {
  margin-top: 0;
}

.form__message {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .customer-gate__wrapper {
    padding: 40px 0;
    display: block;
  }

  .register .customer-gate__container {
    padding: 40px 0;
  }

  .customer-gate__text {
    margin-top: 14px;
  }
}

/* Recover */
.customer-gate__recover-container {
  max-width: 440px;
  margin: 0 auto;
  padding: 150px 0 200px;
}

@media screen and (max-width: 768px) {
  .customer-gate__recover-container {
    padding: 40px 0;
  }
}

/* Formatting */
#recover {
  display: none;
}

.customer-gate.forgot-active #recover {
  display: block;
}

.customer-gate.forgot-active #recover + #login {
  display: none;
}

.customer-gate__container input, p, label, a {
  font-family: jakarta;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.customer-gate__container a {
  text-underline-offset: 0.5em;
  line-height: normal;
  font-family: jakarta;
  font-weight: 600;
  text-decoration: underline;
  font-size: 14px;
}

.customer-gate__recover-link {
  font-size: 12px !important;
}

.customer__alt-link {
  text-underline-offset: 0.5em;
  line-height: normal;
  font-family: jakarta;
  font-weight: 600;
  text-decoration: underline;
  font-size: 14px;
}

.customer-gate__recover-container p, input, label,
.register .customer-gate__container p, input, label {
  font-family: jakarta;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.customer-gate__recover-container .customer-gate__text {
  margin-top: 20px;
}

#rc_login {
  margin-top: 60px !important;
}

#rc_login a {
  text-underline-offset: 0.5em;
  line-height: normal;
  font-family: jakarta;
  font-weight: 600;
  text-decoration: underline;
}

#rc_login h5 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: manrope, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.015em;
  text-transform: capitalize;
}

.form__message {
  margin-bottom: 10px;
  font-family: jakarta;
}

.form__message svg {
  width: 20px;
  margin-right: 10px;
}

.errors ul {
  margin: 0 0 20px; 
}

.errors li {
  font-size: 12px;  
}

.register .customer-gate__container {
  padding: 150px 0 200px;
}

@media screen and (max-width: 768px) {
  .customer-gate__container {
    margin: 100px auto;
  }

  .register .customer-gate__container {
    margin: 100px auto;
    padding-top: 0;
    padding-bottom: 0;
  }
}
