/*========== 404 PAGE START ==========*/

.error-template {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #DAF2FC 0%, #FAF5F1 100%);
}

.error-template .error-inr-template .title {
  font-family: canela;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0;
}

.error-template .error-inr-template .h5 {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  
  .error-template {
    height: 50vh;
  }

  .error-template .error-inr-template .title {
    font-size: 80px;
    line-height: 1.2;
  }
  
  .error-template .error-inr-template .button {
    font-size: 14px;
    padding: 13px 22px 15px 22px;
  }
  
}

/*========== 404 PAGE END ==========*/

.account__modal-wrapper .account__modal-content .account__modal-title {
  margin-bottom: 25px;
}

.account__modal-wrapper .account__modal-container {
  padding: 30px;
}