/*========== 404 PAGE START ==========*/

.error-template {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #DAF2FC 0%, #FAF5F1 100%);
}

.error-template .error-inr-template .title {
  font-family: canela;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0;
}

.error-template .error-inr-template .h5 {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  
  .error-template {
    height: 50vh;
  }

  .error-template .error-inr-template .title {
    font-size: 80px;
    line-height: 1.2;
  }
  
  .error-template .error-inr-template .button {
    font-size: 14px;
    padding: 13px 22px 15px 22px;
  }
  
}

/*========== 404 PAGE END ==========*/

.account__modal .account__modal-wrapper{
  overflow-y: auto;
  overflow-x: hidden;
}

.account__modal-wrapper .account__modal-content .account__modal-close .icon-close {
  width: 36px;
  height: 36px;
}

.account__modal-wrapper .account__modal-content .account__modal-title {
  margin-bottom: 25px;
}

.account__modal-wrapper .account__modal-container {
  padding: 30px;
}

.field__label,
.customer .field label {
  font-size: 20px;
  color: #0D2244;
  font-family: manrope, sans-serif;
  margin-bottom: 20px;
}

.field__input, 
.select__select, 
.customer .field input:not([type="checkbox"]), 
.customer select {
  border: none;
  border-bottom: 1px solid #0D2244;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 0;
}

.select .icon-caret, 
.customer select+svg {
  right: 10px;
}

.account__modal .field.checkbox-field {
  align-items: flex-start;
}

.account__modal .field.checkbox-field input {
  margin: 0;
  position: relative;
  top: 8px;
}

.account__modal .field.checkbox-field .field__label {
  font-size: 18px;
}

.customer__container .customer__navigation-link {
  font-size: 20px;
  color: #0D2244;
}

.customer__container .customer__content-title {
  color: #0D2244;
  margin: 0 0 20px;
  padding-bottom: 20px;
}