.Featured_Product .product-info {
  margin-bottom: 35px;
}

.Featured_Product .price-item.price-item--regular,
.price-item.price-item--sale {
  font-weight: 500;
  font-size: 35px;
  line-height: 38px;
}

.Featured_Product .price__sale .price-item.price-item--regular {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #9EA7B4;
}

.Featured_Product .badge.price__badge-sale {
  display: none;
}

.Featured_Product .subscription-wrapper {
  margin-top: 40px;
}

.Featured_Product {
  padding: 50px 0;
}

.Featured_Product .product {
  margin-bottom: 25px;
}