.subscription-wrapper .rc-widget .rc-option--active {
  background: transparent;
  color: var(--navy);
}

.subscription-wrapper .rc_widget__option__discount {
  display: none;
}
.subscription-wrapper .rc-option {
  border: 1px solid var(--navy);
  margin: 5px 0;
  background: transparent;
  color: var(--navy);
  border-radius: 40px;
  text-align: center;
  padding: 11.75px!important;
}

.subscription-wrapper .rc_widget__option--subsave {
  border-radius: 24px;
}

.subscription-wrapper .rc-custom-radio-button {
  position: absolute;
  aspect-ratio: 1/1;
  border: 1px solid var(--navy);
  width: 27.5px;
  border-radius: 50%;
  overflow: hidden;
  order: -1;
  justify-self: flex-start;
  left: 0;
  top: 0;
}

.subscription-wrapper .rc-custom-radio-button:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  content: "";
  border: 1px solid transparent;
}

.subscription-wrapper .rc_widget__option__selector input:checked ~ label > .rc-custom-radio-button:after {
  background: var(--blue);
  border-color: var(--blue);
}

.subscription-wrapper .rc-radio__input {
  display: none!important;
}

.subscription-wrapper .rc-radio__label {
  display: flex!important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  position: relative;
  line-height: normal;
  min-height: 27.5px;
  margin-left: 0;
  cursor: pointer;
}

.subscription-wrapper .rc_widget__option__label > span:not(.rc-option__price):not(.updated-price) {
  font-weight: 500;
}

.subscription-wrapper .rc_widget__option__label > span.updated-price {
  font-size: 1.1rem;
  font-weight: 600;
}

.subscription-wrapper [data-label-subsave] {
  margin-bottom: 11.75px;
}

.subscription-wrapper .rc-selling-plans {
  background: var(--blue-tint-20);
  padding: 0 12px 14px;
  border-radius: 0 0 17px 17px;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.subscription-wrapper .rc-selling-plans__label {
  display: block !important;
  position: relative !important;
}
@media screen and (max-width: 768px) {
  .subscription-wrapper .rc-selling-plans__label {
    font-size: 12px;
  }
}

.subscription-wrapper .rc-selling-plans__dropdown {
  border: none;
  background: var(--blue-tint-40);
  font-family: jakarta;
  font-size: 12px;
  line-height: 14px;
  border-radius: 40px;
  padding: 4px 26px 4px 12px;
  appearance: none;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5.5 6L10 1' stroke='%230D2244' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-position-x: 90%;
  background-position-y: center;
  background-repeat: no-repeat;
}

.subscription-wrapper .rc-option dl{
  background: var(--blue-tint-20);
  border-radius: 17px;
  padding: 14px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.subscription-wrapper .rc-option dl:first-of-type {
  border-radius: 17px 17px 0 0;
}

.subscription-wrapper .rc-option dl:last-of-type {
  display: none;
  border-radius: 0 0 17px 17px;
}

.subscription-wrapper .rc_popup {
  display: none !important;
}



.product-sticky-bar .rc-radio__label {
  display: flex!important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
  line-height: normal;
  min-height: 27.5px;
  margin-left: 0;
  cursor: pointer;
  padding-left: 36px;
}