.carousel {
  margin: 100px 0;
}
.carousel__inner {
  display: grid;
  grid-template-columns: 50px minmax(0, 1fr) 50px;
  position: relative;
}

.carousel-instance {
  grid-column: 2/3;
  width: 100%;
}

.carousel__slide-text {
  padding: 40px 0 64px;
  max-width: 660px;
  margin: auto;
}

.carousel__slide-content {
  text-align: center;
}

.carousel__slide-content svg,
.carousel__slide-content img {
  height: 25px;
  width: auto;
}

.carousel__slide-content svg,
.carousel__slide-content svg path,
.carousel__slide-content svg g {
  fill: #CBCBCF;
  opacity: 1;
  fill-opacity: 1;
}

.carousel-instance .swiper-button-prev {
  grid-column: 1/2;
}

.carousel-instance .swiper-button-next {
  grid-column: 3/4;
}

.swiper-pagination-bullet {
  background-color: #CFD3DA;
  width: 9px;
  height: 9px;
  opacity:1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--navy);
  opacity:1;
}

@media screen and (max-width: 991px) {

  .carousel__slide-text {
    font-size: 30px;
    padding: 40px 20px 64px;
  }

}

@media screen and (max-width: 768px) {
  
  .carousel__inner {
    grid-template-columns: 20px minmax(0, 1fr) 20px;
  }

  .carousel__slide-text {
    font-size: 20px;
    padding: 35px 20px 50px;
  }

  .carousel {
    margin: 60px 0 55px;
  }
  
}