.Reviews_Section {
  padding: 65px 0 50px;
}

.Reviews_Section .Reviews_Inr_Section {
  background-color: #DAF2FC;
  border-radius: 12px;
  padding: 110px 0;
}

.Reviews_Section .Reviews_Inr_Section .Section_Header,
.Reviews_Section .Reviews_Inr_Section .Review_Count,
.Reviews_Section .Reviews_Inr_Section .Button_Area {
  padding: 0 50px;
}

.Reviews_Section .Reviews_Inr_Section .Review_Count {
  text-align: center;
}

.Reviews_Section .Reviews_Inr_Section .Review_Count svg {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.Reviews_Section .Reviews_Inr_Section .Review_Count {
  margin-bottom: 70px;
}

.Reviews_Section .Reviews_Inr_Section .Button_Area {
  text-align: center;
  margin-top: 60px;
}

.Reviews_Section .Reviews_Inr_Section .Review_List .Single_Review {
  padding: 0 10px;
}

.Reviews_Section .Reviews_Inr_Section .Review_List .Single_Review .Single_Review_Inr {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 20px;
}

.slick_pagination .slick_arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slick_pagination .slick_arrow .slick_dots .slick-dots {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
}

.slick_pagination .slick_arrow .slick_dots .slick-dots li button {
  font-size: 0;
  width: 9px;
  height: 9px;
  background: #CFD3DA;
  border-radius: 100%;
}

.slick_pagination .slick_arrow .slick_dots .slick-dots li {
  margin: 0 4px;
  line-height: 0;
}

.slick_pagination .slick_arrow .slick_dots .slick-dots .slick-active button {
  background: #0D2244;
}