.FAQ_Section {
  padding: 60px 0;
}

.FAQ_Section .Faq_section_inner {
  background-color: #DAF2FC;
  border-radius: 12px;
}

.FAQ_Section .Faq_section_inner .Row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.FAQ_Section .Faq_section_inner .Faq_Heading {
  width: 35%;
  padding: 0 20px;
}

.FAQ_Section .Faq_section_inner .Faq_Area {
  width: 65%;
  padding: 0 20px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion-content .Accordion-Inr-Content {
  padding: 10px 0;
}