.results-carousel__inner {
  padding: 100px 50px;
  margin-bottom: 50px;
}

.results-carousel__heading, .results-carousel__text {
  text-align: left;
  max-width: 886px;
  margin-left: auto;
  margin-right: auto;
}

.results-carousel__button {
  margin-top: 50px;
}

.results-carousel__container {
  display: grid;
  grid-template-columns: minmax(0, 52%) minmax(0, 1fr);
  gap: 130px;
  margin-top: 60px;
}

.results-carousel__image-inner {
  place-content: center;
  position: relative;
  --position: 50%;
  padding: 10px 0;
}

.results-carousel__image-slide-container {
  width: 100%;
  aspect-ratio: 1/1;
  margin: 10px 0;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.results-carousel__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: left;
}

.results-carousel__before-photo {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.results-carousel__slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.results-carousel__slider:focus-visible ~ .results-carousel__slider-button {
  outline: 1px solid blue;
  outline-offset: 3px;
}

.results-carousel__slider-line {
  position: absolute;
  inset: 0;
  width: 2px;
  height: 100%;
  background-color: var(--blue);
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.results-carousel__slider-line:before {
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--blue);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  content: "";
}

.results-carousel__slider-line:after {
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--blue);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  content: "";
}

.results-carousel__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.results-carousel__swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

.results-carousel__swiper-button {
  padding: 6px 13px;
  border-radius: 40px;
  font-weight: 600;
  transition: all .3s ease;
  border: 1px solid var(--blue);
}

.results-carousel__swiper-button:not(.active) {
  background: transparent;
  color: var(--blue);
}

.results-carousel__swiper-button:not(.active):hover {
  background: var(--blue);
  color: white;
}

.results-carousel__slider-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {

  .results-carousel {
    margin-bottom: 0;
  }

  .results-carousel .page-width {
    padding: 0;
  }

  .results-carousel__inner {
    padding: 0 25px 80px;
    border-radius: 0;
    margin-bottom: 0px;
    margin-top: 40px;
  }
  .results-carousel__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  .results-carousel__images {
    width: 100%;
  }

  .results-carousel__image-container {
    height: 340px;
  }

  .results-carousel__swiper-pagination {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .results-carousel__info-wrapper , .results-carousel__info {
    displau: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .results-carousel__heading  {
    margin-bottom: 0;
  }

  .results-carousel__text {
    text-align: center;
  }

  .results-carousel__button {
    margin-top: 30px;
}
}