.product {
  display: grid;
  grid-template-columns: minmax(0, .5fr) minmax(0, .5fr);
  gap: 50px;
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  
  .product {
    gap: 0;
    display: block;
    margin-bottom: 70px;
  }
  
}

/*================ Media ================*/
.product__media-wrapper {
  min-height: 390px;
  aspect-ratio: .85/1;
  border-radius: 0px 0px 12px 0px;
  overflow: hidden;
}

@media screen and (min-width: 769px) {
  .product__media-wrapper {
    height: 100vh;
    min-height: 600px;
    position: sticky;
    top: 0;
    aspect-ratio: unset;
  }
}

.product__media-list {
  height: 100%;
}
.product__media {
  position: relative;
  height: 100%;
}

.product__media iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__media-thumbnails {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  row-gap: 10px;
}

.product__media-thumbnail-item {
  aspect-ratio: 1/1;
  width: 67px;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 0px 0px 30px 4px #46BDF0;
}
.product__media-thumbnail-item img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*================ Info ================*/

.product__info-wrapper {
  max-width: calc( 1440px / 2 );
  margin-right: 50px;
  padding: 100px 0;
}

@media screen and (max-width: 768px) {
  .product__info-wrapper {
    padding: 40px 20px;
    margin-right: 0;
  }
}

.product-info {
  border-top: 1px solid var(--navy);
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  flex-wrap: wrap;
}

.product-info dt {
  margin-bottom: 16px;
  flex-basis: 100%;
}

.product-info dd {
  display: inline-block;
}

.product-info dd span {
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .product-info {
    flex-direction: column;
    align-items: flex-start;
  }
}

.subscription-wrapper {
  margin-top: 50px;
}

.subscription-wrapper .loading-overlay__spinner {
  margin: auto;
  display: block;
}

.product-form__buttons {
  margin-top: 16px;
}

.product-form .satisfaction-guarantee {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-form .satisfaction-guarantee svg {
  width: 23px;
  margin-right: 10px;
}

.product__details {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .product__details {
    margin-top: 40px;
  }
}

.product__how-to-use ol,
.product__how-to-use ul {
  padding-inline-start: 20px;
}

.product__how-to-use ol li {
  margin: 5px 0;
}

.product__how-to-use ol li::marker {
  font-weight: 600;
}

/* PRODUCT ACCORDION */

.product__accordion {
  margin-top: 16px;
  padding-top: 18px;
  border-bottom: 1px solid var(--navy);
  padding-bottom: 18px;
  border-top: 1px solid var(--navy);
}

.product__accordion .product__accordion-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product__accordion svg line {
  transform-origin: center;
  transition: all .3s ease;
}

.product__accordion.active svg line {
  transform: rotate(90deg);
}

.product__accordion .product__accordion--inner {
  display: none;
  padding-top: 10px;
}

.product__details-inner {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.product__detail-item {
  width: 100%;
  padding: 18px 0;
  border-bottom: 1px solid #CFD3DA;
}

.product__detail-item:last-of-type,
.product__detail-item:nth-last-of-type(2){
  border-bottom: 1px solid transparent;
}

.product__detail-item:nth-of-type(odd) {
  padding-right: 18px;
  border-right: 1px solid #CFD3DA;
}

.product__detail-item:nth-of-type(even) {
  padding-left: 18px;
  border-left: 1px solid #CFD3DA;
}

.product__detail-item .emoji {
  font-size: 25px;
  margin-right: 5px;
}

.discount--wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.discount--wrapper .discount-input--wrapper {
  display: flex;
  justify-content: space-between;
  width: 435px;
  border: 1px solid #0D2244;
  padding: 9px 26px;
  border-radius: 40px;
}

.discount--wrapper .discount-input--wrapper .discount-text {
  font-size: 12px;
  color: #6E7A8F;
  font-weight: 400;
}

.discount--wrapper .discount-input--wrapper .discount-code,
.discount--wrapper .disacount-apply-text{
  font-size: 14px;
  font-weight: 400;
}

.discount--wrapper .disacount-apply-text{
  color: #46bdf0;
  padding-left: 30px;
}

@media screen and (max-width: 1439px) {
  
  .discount--wrapper .disacount-apply-text {
    padding-left: 20px;
  }
  
  .discount--wrapper .discount-input--wrapper {
    width: 325px;
    padding: 9px 16px;
  }
  
}

@media screen and (max-width: 1200px) {

  .discount--wrapper .discount-input--wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .discount--wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .discount--wrapper .disacount-apply-text {
    padding: 5px 0 0;
  }
  
}

@media screen and (max-width: 991px) {
  
  .discount--wrapper .discount-input--wrapper .discount-code, 
  .discount--wrapper .disacount-apply-text {
    font-size: 12px;
  }

  .discount--wrapper .discount-input--wrapper .discount-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  
  .product-form__buttons .disacount-apply-text {
    text-align: center;
    color: #46BDF0;
    font-size: 14px;
    margin-top: 10px;
    line-height: 21px;
  }

  .discount--wrapper .discount-input--wrapper .discount-code, 
  .discount--wrapper .disacount-apply-text {
    font-size: 14px;
  }
  
  .discount--wrapper .discount-input--wrapper .discount-text {
    font-size: 12px;
  }
}

