.FAQ_Section {
  padding: 60px 0;
}

.FAQ_Section .Faq_section_inner {
  background-color: #DAF2FC;
  border-radius: 12px;
  padding: 100px 50px;
}

.FAQ_Section .Faq_section_inner .Row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.FAQ_Section .Faq_section_inner .Faq_Heading {
  width: 35%;
  padding: 0 20px;
}

.FAQ_Section .Faq_section_inner .Faq_Area {
  width: 65%;
  padding: 0 20px;
}

.Accordion-Content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.FAQ_Section .Faq_section_inner .Faq_Area .Faq_List .Accordion-Block {
  padding: 20px 0;
  border-bottom: 1px solid #0D2244;
}

.FAQ_Section .Faq_section_inner .Faq_Area .Faq_List .Accordion-Block .Accordion {
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
}

.FAQ_Section .Faq_section_inner .Faq_Area .Faq_List .Accordion-Block:first-child {
  border-top: 1px solid #0D2244;
}

.FAQ_Section .Faq_section_inner .Faq_Area .Faq_List .Accordion-Block .Accordion-Content .Accordion-Inr-Content {
  padding-top: 20px;
}

.FAQ_Section .Faq_section_inner .Faq_Area .Faq_List .Accordion-Block .Accordion:after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='9.97461' y1='0.5' x2='9.97461' y2='20.5' stroke='%230D2244'/%3E%3Cpath d='M20 10.5L-7.15256e-07 10.5' stroke='%230D2244'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 21px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.FAQ_Section .Faq_section_inner .Faq_Area .Faq_List .Accordion-Block .Accordion.is-open:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 21' width='20' height='21'%3E%3Cpath id='Layer' stroke='%230d2244' class='s0' d='m20 10.5h-20'/%3E%3C/svg%3E");
}
has unsaved changes

No recent changes

File does not have any other versions
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
⌄
⌄
⌄
⌄
⌄
⌄
⌄
⌄
⌄
⌄
.Instagram_Section {
  padding: 60px 0 108px 0;
}

.Instagram_Section .Images_List {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.Instagram_Section .Images_List .Single_Image {
  flex: 20% 0 0;
  max-width: 20%;
  padding: 0 6px;
}

.Instagram_Section .Images_List .Single_Image .IG_Image {
  border-radius: 12px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.slick_pagination .slick_arrow_insta .Slick-Prev.slick-arrow::after {
  content: url("data:image/svg+xml,%3Csvg width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.581 0L19.9899 1.10969C19.9899 1.10969 14.0498 8.4162 10.34 11.3455H35V13.652H10.34C14.0498 16.5812 19.9899 23.8877 19.9899 23.8877L18.581 24.9974C18.581 24.9974 9.77324 16.0097 -6.15973e-08 12.4987C9.77324 8.9877 18.581 0 18.581 0Z' fill='%230D2244'/%3E%3C/svg%3E%0A");
}

.slick_pagination .slick_arrow_insta .slick-arrow.Slick-Next::after {
  content: url("data:image/svg+xml,%3Csvg width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.419 0L15.0101 1.10969C15.0101 1.10969 20.9502 8.4162 24.66 11.3455H0V13.652H24.66C20.9502 16.5812 15.0101 23.8877 15.0101 23.8877L16.419 24.9974C16.419 24.9974 25.2268 16.0097 35 12.4987C25.2268 8.9877 16.419 0 16.419 0Z' fill='%230D2244'/%3E%3C/svg%3E%0A");
}

.slick_pagination .slick_arrow_insta .slick-arrow {
  width: 35px;
  height: 25px;
  cursor: pointer;
}

.slick_pagination .slick_arrow_insta .slick-arrow {
  width: 35px;
  height: 25px;
  cursor: pointer;
}

.slick_pagination .slick_arrow_insta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 40px;
}

@media screen and (max-width: 991px) {
  
  .FAQ_Section .Faq_section_inner .Row {
    display: block;
  }

  .FAQ_Section .Faq_section_inner .Faq_Area,
  .FAQ_Section .Faq_section_inner .Faq_Heading {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {

  .FAQ_Section .Faq_section_inner {
    padding: 70px 25px;
    border-radius: 0;
  }

  .Faq_Heading .h4 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .FAQ_Section .Faq_section_inner .Faq_Area .Faq_List .Accordion-Block .Accordion {
    font-size: 16px;
    line-height: 24px;
  }
  
  .FAQ_Section .page-width {
    padding: 0;
  }

}
